[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
Flask = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
"e1839a8" = {path = ".", editable = true}
bandit = "*"

[requires]
python_version = "3.8"
