[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
Flask = "*"
flask-boto3 = {editable = true, path = "."}

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
